$row-height: 70px;
$dot-color: black;

$min-dot-size: 5px;

.punch-card-row {
    display: flex;
    border-bottom: 1px solid gray;
    height: $row-height;
    position: relative;
    margin-bottom: 15px;

    .punch-card-row-label {
        position: absolute;
    }

    .punch-card-dot-container {
        display: flex;
        flex: 1;
        align-items: center;
        margin: 0 20px;
        justify-content: space-between;

        .dot-wrapper {
            margin: auto;

            .punch-card-dot {
                width: $min-dot-size;
                height: $min-dot-size;
                background: $dot-color;
                border-radius: 50%;
                display: flex;
                will-change: transform;
                transition: transform .5s ease-in-out;
            }
        }
    }
}